body {
  font-family: montserrat sans-serif;
  margin: 0;
}
.container {
  /* border: 1px solid red; */
  width: 1000px;
  height: 600px;
  margin: auto;
}
header {
  /* border: 1px solid aqua ; */
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 80px;
}
nav {
  display: flex;
}
nav a {
color: black;
background-color: aquamarine;
text-decoration: none;
font-size: 13;
font-weight: 500;
 border: 1px solid white; 
display: block;
margin-left: 20px;
margin-right: 20px;
padding: 20px;
border-radius: 50px;
}
.search {
  color: black;
background-color: aquamarine;
text-decoration: none;
font-size: 13;
font-weight: 500;
padding: 20px;
border-radius: 50px;
}
.gallery {
  width: 100%;
  /* background-color: aqua; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-title {
font-size: 30px;
opacity: 0.5;
text-align: center;
}
.gallery div {
  width: 300px;
  height: 300px;
  background-color: blueviolet;
  margin: 1px;
  flex-grow: 1;
}
.movie_img {
  width: 100%;
  height: 100%;
}
